[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "20"

[dev]
  command = "npm run dev:vite"
  targetPort = 5173
  framework = "#custom"

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
